
.list{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
}

.detail{
  display:grid;
  grid-template-columns: repeat(4, 1fr);

}

.arrow{
  text:rgb(184, 86, 86);
  font-size: 50px;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(184, 240, 240);;
  background-color: rgb(2, 65, 65);
  margin: 0;
  padding: 20px;
}


img {
  display: block;
  max-width:230px;
  max-height:230px;
  
  width: auto;
  height: auto;
}

.detail_image img {
  display: block;
  min-height:230px;
  min-width:230px;
  width: auto;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  border: 2px solid black;
  color: rgb(4, 20, 20);
  background-color: rgb(102, 153, 153);
}


.pokemon_name {
  color: rgb(28, 106, 106);
  text-decoration: none;
  cursor: pointer;
  border: solid 5px;

  text-align: center;
  
  align-items:center;
  border-radius: 25px;
  border: 2px dotted rgb(28, 106, 106);
  margin :4px;
  margin-bottom: 50px;
  padding:7px;
}

.pokemon_name:hover {
  /* text-decoration: underline overline;; */
  /* background-color: rgb(95, 172, 172); */
  border: 2px solid rgb(138, 179, 179);
  color:   rgb(66, 108, 108);
}

.footer {
  background-color: rgb(2, 65, 65);
  color:rgb(197, 251, 251);
}


.detail {
  border-radius: 25px;
  border: 4px solid rgb(1, 64, 64);
  padding: 12px;
  background-color: teal;
  margin: 32px;
  
}